variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
id_rsa
appuser
webprogrammer
*.retry
.vscode/
gce.ini
infra*.json
tf.log
jdauphant.nginx
geerlingguy.pip
geerlingguy.docker
geerlingguy.ansible
geerlingguy.awx
geerlingguy.git
geerlingguy.nodejs
solval.gitlab_runner
vault.key
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
create_docker_host.sh
.env
.make_vars
kubernetes/Gitlab_ci/
