project = "docker-000000"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
region = "europe-west1"
zone = "europe-west1-b"
cluster_name = "standard-cluster-1"
cluster_min_ver = "1.10.11-gke.1"
workers_count = "2"
workers_mach_type = "n1-standard-1"
workers_disk_size = "20"
