project = "some-project"
region = "europe-west1"
zone = "europe-west1-b"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
app_disk_image = "reddit-app-base"
db_disk_image = "reddit-db-base"
source_ranges = ["0.0.0.0/0"]
do_deploy = "false"
